@model DailyReport.Application.RoleModel;
@{
    ViewData["Title"] = "Edit Role";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card card-custom">
    <div class="card-header flex-wrap py-5">
        <div class="card-title">
            <h3 class="card-label">
                Edit Roles
            </h3>
        </div>
    </div>
    <form>
        <div class="card-body">
            <div class="row">
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 form-group">
                    <label>Role Name<span class="text-danger">*</span></label>
                    <input type="text" class="form-control" id="role-name" name="rolename" placeholder="Role Name" value="@Model.Name" />
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 form-group">
                    <label for="exampleSelect1">Status<span class="text-danger">*</span></label>
                    @Html.DropDownList("rolestatus", (List<SelectListItem>)ViewBag.ActiveStatus, new { @class = "form-control", @id = "role-status" })
                </div>
            </div>
        </div>
        <div class="card-footer d-flex justify-content-end">
            <a href="@Url.Action("Index", "Role")" class="btn btn-secondary mr-4"><i class="fa fa-times"></i>Cancel</a>
            <button class="btn btn-primary"><i class="fa fa-save"></i>Save</button>
        </div>
    </form>
</div>

@section Scripts {
    <script src="~/custom/js/features/roles/role-edit.js"></script>
}